<clr-tabs>
  <clr-tab>
    <button clrTabLink id="link1">Jogos Cadastrados Por Mim</button>
    <clr-tab-content id="content1" *clrIfActive>
      <img src="assets/img/cadastrojogos.png" style="max-width:37.6%; height:auto; margin: 15px auto " alt="image">
      <p> chamda da tabela de jogos cadastrador por mim</p>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Jogos que Estou Cadastrado</button>
    <clr-tab-content *clrIfActive="true">
      <img src="assets/img/jogosestou.png" style="max-width:27.6%; height:auto; margin: 15px auto" alt="image">
      <p> chamda da tabela de jogos em que estou cadastrado</p>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>
